@page "/Estudiante/Index"

@inject EstudianteService estudiantesService
@inject DiaSemanaService diaSemanaService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

@*HTML*@

<PageTitle>Index</PageTitle>
<div class="container">
    <div class="shadow-lg">
        @*Header*@
        <div class="card-header text-center">
            <h3><strong>Listado de Estudiantes</strong></h3>
        </div>
        @*Body*@
        <div class="card-body">
            @*Labels*@
            <div class="row">
                @*Filtrar por*@
                <div class="col-3">
                    <label class="form-label"><strong>Filtrar Por</strong></label>
                </div>
                @*ValorFiltro*@
                <div class="col-4">
                    <label class="form-label"><strong>B&uacute;squeda</strong></label>
                </div>
            </div>
            @*Inputs y Botones*@
            <div class="row">
                @*Filtro*@
                <div class="col-3">
                    <InputSelect class="form-select" @bind-Value="Filtro">
                        <option value="" selected disabled>Elija una opci&oacute;n</option>
                        <option value="Id">Id</option>
                        <option value="Nombre">Nombre</option>
                        <option value="Matricula">Matr&iacute;cula</option>
                    </InputSelect>
                </div>
                @*Busqueda*@
                <div class="col-4">
                    <div class="input-group">
                        <input class="form-control" @bind="ValorFiltro" placeholder="Buscar" />
                        <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
                    </div>
                </div>
                @*Restablecer*@
                <div class="col-auto">
                    <button type="button" class="btn btn-outline-secondary bi bi-arrow-clockwise" @onclick="Restablecer"></button>
                </div>
                @*Crear*@
                <div class="col text-end">
                    <button type="button" class="btn btn-primary" @onclick="PantallaCrear"> Crear</button>
                </div>
            </div>
            <table class="table table-bordered text-center mt-4">
                <thead>
                    <tr>
                        <th>EstudianteId</th>
                        <th>Nombre</th>
                        <th>D&iacute;asSemana</th>
                        <th>Matr&iacute;cula</th>
                        <th>Carrera</th>
                        <th>Observar</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var estudiante in ListaEstudiante) {
                        <tr>
                            <td>@estudiante.EstudianteId</td>
                            <td>@estudiante.Nombre</td>

                            <td>@estudiante.DiasSemana?.Dias</td>

                            <td>@estudiante.Matricula</td>
                            <td>@estudiante.Carrera</td>
                            @*Pantalla Observar*@
                            <td>
                                <button type="button" class="btn btn-outline-primary bi bi-eye"
                                        @onclick="()=> PantallaObservar(estudiante.EstudianteId)"></button>
                            </td>
                            @*Pantalla Editar*@
                            <td>
                                <button type="button" class="btn btn-outline-warning bi bi-pencil"
                                        @onclick="()=> PantallaEditar(estudiante.EstudianteId)"></button>
                            </td>
                            @*Pantalla Eliminar*@
                            <td>
                                <button type="button" class="btn btn-outline-danger bi bi-trash"
                                        @onclick="()=> PantallaEliminar(estudiante.EstudianteId)"></button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        @*Footer*@
        <div class="card-footer">
            <p><strong>Total de Estudiantes: </strong>@ListaEstudiante.Count()</p>
        </div>
    </div>
</div>




@code {
    public List<Estudiantes> ListaEstudiante { get; set; } = new List<Estudiantes>();
    public List<DiasSemanas> ListaDiasSemanas { get; set; } = new List<DiasSemanas>();
    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync() {
        ListaEstudiante = await estudiantesService.Listar(e => e.EstudianteId > 0);
        ListaDiasSemanas = await diaSemanaService.Listar(e => e.DiasSemanasId > 0);
    }

    private async Task Buscar() {
        if (ValorFiltro.Trim() != "") {
            if (Filtro == "Id" && int.TryParse(ValorFiltro, out int estudianteId))
                ListaEstudiante = await estudiantesService.Listar(e => e.EstudianteId == estudianteId);
            else if (Filtro == "Nombre")
                ListaEstudiante = await estudiantesService.Listar(e => e.Nombre.ToLower().Contains(ValorFiltro.ToLower()));
            else if (Filtro == "Matricula")
                ListaEstudiante = await estudiantesService.Listar(e => e.Matricula.ToLower().Contains(ValorFiltro.ToLower()));
        }
        else
            ListaEstudiante = await estudiantesService.Listar(e => e.EstudianteId > 0);
    }

    private async Task Restablecer() {
        ListaEstudiante = await estudiantesService.Listar(e => e.EstudianteId > 0);
        Filtro = string.Empty;
        ValorFiltro = string.Empty;
    }

    public void PantallaCrear() {
        navigationManager.NavigateTo("/Estudiante/Create");
    }

    public void PantallaObservar(int id) {
        navigationManager.NavigateTo($"/Estudiante/Details/{id}");
    }

    public void PantallaEditar(int id) {
        navigationManager.NavigateTo($"/Estudiante/Edit/{id}");
    }

    public void PantallaEliminar(int id) {
        navigationManager.NavigateTo($"/Estudiante/Delete/{id}");
    }
}
